@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
        url("Fonts/Booter - Zero Zero.woff2") format("woff2");
}
* {
    box-sizing: border-box;
    font-family: Raleway;
    color:black;
}
html body{
    margin:0 10px;
    padding:0;
    background-image: url(/images/muti_colorimages.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}


.main-header {
    background-color: rgba(0, 0, 0 .6);
    background-image: url("images/blue_city.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    text-align: center;

    
}

.nav ul{
    margin:0px;

}
/*========= makes li/a elements line side by side ============*/

.nav li{
    display:inline-block;
    
}

.nav a{
    display: inline-block;
    padding: 2em;
    color: rgb(255, 153, 0);
    text-shadow: 0px 1px 4px #23430C;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(17, 126, 84, 0.5);
}
.title{
    font-size: 5em;
    color: rgb(255, 153, 0);
    margin-top: 0%;
    padding-top: 30px;
    
}

/* ====== body =========*/

h2.job-title{
    font-family: "Metal Mania";
    font-weight: normal;
    font-size: 2.5em;
    color:white;
    text-align: center;
}

.job_image{
    height: 350px;
    width: 350px;
    margin: 15px;
    border-radius: 50%; 
}

.img_frog_stork{
    border-radius: 30%; 
}

.content-section {
    margin: 2em;
}

.container {
    max-width: 1000px;
    /* stop growing*/
    margin: auto;
    padding: 0 10em;

}

article {
   
    text-align: center;
}

/*body {
    background: #504c4c;
}

body{
    width: 95%;
    margin:0;
    padding:2%;
    background: url(images/pexels-hristo-fidanov-1252869.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -o-background-size: cover;
   background-size: cover;
   color:rgb(223, 223, 231);   
}

.top{
    font-size: 50px;
    width: auto;
    padding-top: 28px;
    padding-bottom: 41px;
    text-align: center;
    color:whitesmoke;
    background:blue;
    position:sticky;
    top: 10px;
}

.start_sentence {
text-align: center;
color: #f2f608;
margin-top: 200px;

}

h2{
    color:yellow;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.header_main {
    text-align: center;
    position: fixed;   /* Set to fixed position */
    top: 0;             /* Position the at the top of the page */
    width: 100%;        /* Full width 
    background-color: blue;
    padding-bottom: 2em;
}

nav{
    background-color: blue;
   
}

.nav_top{
    position: fixed;   /* Set to fixed position 
    width: 95%;     
    text-align: center;
    margin-top: 1em;
    padding:  2em 0em;
   
}
.nav_ul{
    list-style: none;
    margin:0;
    padding:0;
}
.nav_ul li {
    list-style: none;
    margin:10px;
    padding: 16px;
    display: inline;
}
.nav_ul a{
    display:inline-block
}

a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:crimson;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(13, 240, 240);
    background-color: transparent;
    text-decoration: underline;
}
   hr{margin-top: 50px;
       size: 100px;
   }

article{
    margin: 50px;
    text-align:justify;
}

p {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 40px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border:solid  rgb(248, 252, 24) 4px;
    border-radius: 20%;
}
.img_chef {
     width: 35%;
}
.img_male_nurse .img_computer{
    width: 40%;
}

.img_frog_stork{
     width: 30%;
}
.h2_end{
text-align: center;
padding-top: 100px;
}

.p_footer{
    text-align: center;
    font-size:13px;
}*/

