body {
    background: #504c4c;
}
html { 
}
#container{
    width: 90%;
    margin:auto;
    padding:2%;
    border:  solid  rgb(110, 15, 122) 5px;
    background: url(images/pexels-hristo-fidanov-1252869.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   color:rgb(223, 223, 231);
}


h1{
color: #f2f608;

}

.start_sentence {
text-align: center;
color: #f2f608;

}

h2{
    color:yellow;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

p{
    font-size: 18px;
}
.header_main {
    text-align: center;
}

.nav_top{
    text-align: center;
     padding-bottom:20px;
}
.nav_ul{
    list-style: none;
    margin:0;
    padding:0;
}
.nav_ul li {
    display: inline;
    margin:3%;
}
.nav_ul a{
    display:inline-block
}

hr.style {
       height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(110, 15, 122);
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(228, 177, 235);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(13, 240, 240);
    background-color: transparent;
    text-decoration: underline;
}

article{
    margin: 50px;
    text-align:justify;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 40px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border:solid  rgb(248, 252, 24) 4px;
    border-radius: 20%;
}
.img_chef {
     width: 35%;
}
.img_male_nurse .img_computer{
    width: 40%;
}

.img_frog_stork{
     width: 30%;
}
.h2_end{
text-align: center;
padding-top: 100px;
}

.p_footer{
    text-align: center;
    font-size:13px;
}